<div class="action-bar">
    <h3 class="sprint-title">{{ sprint.title }} <span class="dates">From the {{ sprint.startDate }} to the {{ sprint.endDate }}</span></h3>
</div>

<div class="sprintboard">
    <div ng-repeat="column in sprint.columns">
        <div column data-set="column"></div>
        <!-- <div class="header {{ column.color }}-bg">
            {{ column.stories.length}} {{ column.title }}
        </div>
        
        <div class="dropzone" drop="column" drop-style="over"></div>

        <div class="stories">
            <div ng-repeat="story in column.stories">
                <div story data-set="story" drag="story" drag-style="drag-story"></div>
                <div class="dropzone" drop="column" drop-style="over" drop-position-after="story"></div>
            </div>
        </div>

        <p class="add" ng-click="addStory(column)">Add a story</p> -->
    </div>
</div>